/*Possible palette: https://coolors.co/000714-001233-36405c-7e89a0-adb4c3-e8e9ee-ffffff
1: Rich Black #000714
2: Oxford Blue #001233
3: Independence #36405c
4: Shadow Blue #7e89a0
5: Cadet Blue Crayola #adb4c3
6: Ghost WHite #e8e9ee
7: White #ffffff
*/

html{
    min-height: 100%;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #E8E9EE;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding: 0;
    margin:0;
    padding-bottom: 60px;
    padding-top: 60px;
    text-align: justify;
}
article {
    max-width: 80rem;
    text-align: justify;
    text-justify: distribute;    
    align-self: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    font-size: calc(16px + 0.5vw);
    width: 90%;

}

header{
    position: fixed;
    z-index: 2;
    display: block;
    top: 0;
    left: 0;
    padding: 0 0 0 20px;
    background-color: #7E89A0;
    width: 100%;
    box-sizing: border-box;
    height: 60px;
    font-size: calc(8px + 1vw);
}

header .logo{
    color: #000714;
    height: 60px;
    line-height: 60px;
    font-size: 30px;
    float: left;
    font-weight: normal;
}
header .logo a{
    text-decoration: none;
}
header .logo a:hover{
    color:#36405C;
}
header .logo span{
    font-weight: bold;
    color: white;
}
header .logo span:hover{
    color: #000714;
}
header nav{
    float: right;
}
header nav ul{
    margin: 0;
    padding: 0;
    display: flex;
}
header nav ul li{
    list-style: none;
}
header nav ul li a, header nav ul li a:visited{
    border-left: 1px solid rgba(0,0,0,.2);
    height: 60px;
    line-height: 60px;
    padding: 0;
    width: 12vw;
    text-align: center;
    color: white;
    text-decoration: none;
    display: block;
}
header nav ul li a:hover{
    color: white;
    background: #36405C;
}
header nav ul li a.active{
    color: white;
    background: #000714;
}

.menu-toggle{
    color: white;
    float: right;
    line-height: 60px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

@media (max-width: 650px){
    header{
        padding: 0 20px;
    }
    header nav{
        display: none;
        position: absolute;
        width: 40%;
        background-color: #7E89A0;
        top: 60px;
        right: -100%;
    }
    header nav.active{
        right: 0;
        display: block;
    }
    header nav ul{
        display: block;
        text-align: center;
    }
    header nav ul li a{
        border-top: 1px solid rgba(0,0,0,.2);
        width: 100%;
    }
    .menu-toggle{
        display: block;
    }
    .menu-toggle img{
        width: 20px;
    }
}

footer {    
    position: absolute;
    z-index: 2;
    background-color: #7E89A0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 0.5rem 0 0.5rem 0;
}

footer nav{
    width: 96%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
    align-items: center;
}

footer a, a:visited{
    color:#000714;
    text-decoration: none;
}

footer img{
    max-width: 2rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}
h1{
    font-size: calc(20px + 3vw);
    text-align: center;
    color: #000714;
}
h2{
    font-size: calc(12px + 1.5vw);
    text-align: left;
}
h3{
    font-size: calc(10px + 1.5vw);
    text-align: left;
    font-style: italic;
    color: #001233;
    margin: 0;
    padding: 0;
    padding-top: 2%;;
}