
.contactContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 5%;
}

.contactItem a, .contactItem a:visited{
    text-decoration: none;
}
.contactItem img{
    max-width: 170px;
    padding-bottom: 5%;
}

.EmailForm{
    padding-bottom: 10%;
}
.EmailForm label{
    text-align: left;
    display: block;
    width:40%;
    min-width: 200px;
}
.EmailForm input[type=text], textarea{
    width:40%;
    display: block;
    min-width: 200px;
}
.EmailForm input[type=submit]{
    display: block;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1rem 2rem 1rem 2rem;
    font-weight: bold;
    color: black;
    background: #b4d2e7;    
    border-style: outset;
    border-width: 3px;
    border-radius: 10px 10px 10px 10px;
}
.EmailForm input[type=submit]:hover{
    color: white;
    background: #94c5cc;
}